<nav class="navbar navbar-dark bg-primary">
  <form class="form-inline">
    <a class="navbar-brand" style="margin-left: 20px" [routerLink]="['/']"
      ><i class="bi bi-book"></i
    ></a>
    <button class="btn btn-outline-success" [routerLink]="['/']" type="button">
      <span>Home</span> <span class="sr-only">(livros)</span>
    </button>
    <button
      class="btn btn-outline-success"
      [routerLink]="['emprestimo-filtro']"
      type="button"
    >
      <span>Emprestimos</span>
    </button>
    <button
      class="btn btn-outline-success"
      [routerLink]="['cadastrar']"
      type="button"
    >
      <span>Cadastrar </span> <span class="sr-only">(livros)</span>
    </button>
  </form>
</nav>
<router-outlet></router-outlet>
