<div class="container">
    <div class="row">
        <div class="col-sm">
            <form [formGroup]="formBook" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="">Titulo</label>
                    </div>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="title" placeholder="Titulo" formControlName="title">
                    </div>
                    <div class="col-sm-12">
                        <label for="">Autor</label>
                    </div>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="author" placeholder="Autor"
                            formControlName="author">
                    </div>
                    <div *ngIf="!verificaForm()" class="col-sm-12">
                        <label for="">Codigo</label>
                    </div>
                    <div *ngIf="!verificaForm()" class="col-sm-12">
                        <input type="text" class="form-control" id="isbn" placeholder="Codigo" formControlName="isbn">
                    </div>


                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>
</div>