<div class="container">
  <div class="row">
    <div class="col-sm">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Codigo</th>
            <th scope="col">Autor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of listBooks">
            <th scope="row">{{book.id}}</th>
            <td>{{book.title}}</td>
            <td>{{book.isbn}}</td>
            <td>{{book.author}}</td>
            <td><button class="btn btn-primary" (click)="loanBook(book)">Emprestar</button></td>
            <td><button class="btn btn-primary" (click)="updateBook(book)">Atualizar</button></td>
            <td><button class="btn btn-primary" (click)="deletarBook(book)">Deletar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>